body {
	background-color: #E8E8E8;
}

table {
	width: 50%;
	align: center;
}

.table1,div {
	border = 0px;
}

.table1,td1 {
	
}

.table2 {
	background-color: #99FF99;
	border: 1px solid;
}

.table3 {
	background-color: #99FFFF;
	border: 1px solid;
}

.table4 {
	background-color: #FFFF99;
	border: 1px solid;
}