body {
	background-color: #E8E8E8;
}

table {
	width: 60%;
	align: center;
}

.table1,div {
	border: 10px;
}

.table1,td1 {
	
}

.table2 {
	background-color: #99FF99;
}

.table3 {
	background-color: #99FFFF;
}

.table4 {
	background-color: #FFFF99;
}